.layout {
  background: black;
  color: var(--theme-secondary);
  display: flex;
  padding: 20px;

  .main {
    background: black;
    overflow: hidden;
    flex-grow: 1;
    flex-direction: column;
    display: flex;
  }
}
